.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information>tbody>tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information>tbody>tr:first-child {
    border-top: 0;
}


.table-user-information>tbody>tr>td {
    border-top: 0;
}

.toppad {
    margin-top: 20px;
}

.h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.product-page {
    margin-top: 20px;
    margin-bottom: 20px;
}

.split {
    background: linear-gradient(to right, #322929 50%, #D9D9D9 50%);
}

.imageAlignment {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.productDesc {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    display: flex;
    text-align: center;
    color: black;
}

.outerBorderW {
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.product-image {
    position: relative;
    display: inline-block;
    border-radius: 5px;
}

.pricetag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: #F2C744;
    padding-top: 3px;
    padding-right: 5px;
    padding-bottom: 3px;
    padding-left: 5px;
    color: black;
    border-radius: 0px 5px 0px 5px;
}

.pricetag span {
    font-weight: lighter;
    font-style: italic;
    text-decoration: line-through;
}

.reviews {
    background-color: #e0e0e0;
    color: black;
    padding-bottom: 200px;
}

.product-box {
    transition: transform 0.3s;
}

#productBox.product-box:hover {
    transform: scale(1.1);
    background-color: #393030;
}

.productText {
    color: white;
    font-size: 15px;
    text-align: center;
}

#slideshowContainer {
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
}

#slideshow {
    position: relative;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#slideshow img {
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease-in-out;
    border-radius: 10px;
    clip-path: polygon(0 15%, 100% 15%, 100% 85%, 0 85%);
    border-left: 5px solid yellow;
    border-bottom: 5px solid yellow;
}

/*
.yellowBorder {
    border-left: 5px solid yellow;
    border-bottom: 5px solid yellow;
}
*/

#slideshowAndButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#slideshow img:hover {
    transform: scale(1.05);
}

#imageButtons {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: relative;
    width: 100%;
    height: 100%
}

.imageButton {
    width: 90px;
    height: 15px;
    margin: 0 5px;
    border-radius: 25px;
    background-color: #727272;
    z-index: 1000;
}

.imageButton.active {
    background-color: #f2c744;
    width: 110px;
}

#prevButton,
#nextButton {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    /* Make the button background transparent */
    border: none;
    /* Remove the border */
    outline: none;
    /* Remove the focus outline */
    padding: 5px;
    cursor: pointer;
    font-size: 100px;
    color: white;
}

#prevButton {
    left: 10px;
}

#nextButton {
    right: 10px;
}

.navbar {
    box-shadow: 0px 0px 15px 0px #0000008b;
    background-color: #00ffa6;
    /* No work */
}